*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 20px;
    border: 2px solid rgb(171,171,171);
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.display{
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: end;
    border: 2px solid rgb(171,171,171);
    width: 260px;
    height: 50px;
    font-size: 30px;
}

.calc-buttons{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: 10px;
    font-size: 20px;
}